<main class="col-md-8 mx-auto">
  <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" >Food Box</a>
          <div class="collapse navbar-collapse flex-grow-1 text-right">

              <ul class="navbar-nav ml-auto flex-nowrap">
                  <li ><a routerLink='userPortal' class="nav-link" id="linkUserPortal">User Portal</a></li>
                  <li ><a routerLink='adminPortal' class="nav-link" id="linkAdminPortal">Admin Portal</a></li>
              </ul>
          </div>
      </nav>
  </header>

  <section>
    <div class="content">
      <router-outlet></router-outlet>
    </div>

  </section>
</main>