<div class="container">
    <h2>Choosen Food in the Cart</h2> 
    <table class="table table-striped">
      <thead>
          <tr>
            <th style="display: none;">Id</th>
            <th>FoodName</th>
            <th>Cuisine</th>
            <th>Description</th>
            <th>Price</th>
            <th style="display: none;">Enabled</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of cartItems" (click)="delete(food)">
          <td style="display: none;">{{ food.id }}</td>
          <td>{{ food.foodName }}</td>
          <td>{{ food.cuisine }}</td>
          <td>{{ food.description}}</td>
          <td>{{ food.price }}</td>
          <td style="display: none;">{{ food.enabled}}</td>
        </tr>
      </tbody>
    </table>
</div>
<form  novalidate  #form="ngForm">
    <label>Total Sum of Cart </label>
    <input [value]="total">
</form>

<ul class="navbar-nav ml-auto flex-nowrap">
    <li ><a routerLink='/Payment' class="nav-link" id="Payment">Payment</a></li>
</ul>

